@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary:#d4af37;
  --dark:#0b0b0c;
  --card:#141417;
  --border:#27272a;
  --gray:#a1a1aa;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:var(--dark);
  color:white;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.header{
  position:sticky;
  top:0;
  background:#000;
  border-bottom:1px solid var(--border);
}

.header-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap: 10px; /* espaço entre logo e menu */
}





.logo-container{
  display:flex;
  align-items:center;
  gap:10px;
}

.logo-img{
  width:70px;
}

.logo-text{
  color:var(--primary);
  font-weight:600;
  font-size: 15px;
}

.logo-text span {
  margin-left: 6px; /* separa visualmente */
}

.nav{
  display:flex;
  gap:25px;
}

.nav a{
  color:white;
  text-decoration:none;
}

.nav a:hover{
  color:var(--primary);
}

.menu-toggle{
  display:none;
  font-size:28px;
  cursor:pointer;
}

.hero{
  min-height:85vh;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  background:
  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
  url('/img/Babearia.jpg');

  background-size:60%;
  background-position:center;
  background-repeat:no-repeat;
}

.hero h1{
  font-size:48px;
}

.hero p{
  color:var(--gray);
  margin:20px 0;
}

.btn{
  background:var(--primary);
  padding:15px 30px;
  border:none;
  border-radius:8px;
  font-weight:600;
  cursor:pointer;
}

.section{
  padding:80px 0;
}

.section-title{
  text-align:center;
  margin-bottom:40px;
  color:var(--primary);
}

.gallery,
.pricing{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.gallery img{
  width:100%;
  border-radius:10px;
}

.price-card{
  background:var(--card);
  padding:30px;
  text-align:center;
  border:1px solid var(--border);
  border-radius:10px;
}

.price{
  color:var(--primary);
  font-size:28px;
}

.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25d366;
  padding:15px 20px;
  border-radius:50px;
  color:white;
  text-decoration:none;
}

.footer{
  text-align:center;
  padding:30px;
  border-top:1px solid var(--border);
}

@media(max-width:768px){

  .nav{
    display:none;
    flex-direction:column;
    position:absolute;
    right:0;
    top:70px;
    background:#111;
    padding:20px;
  }

  .nav.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }

  .hero{
    background-size:90%;
  }

  .hero h1{
    font-size:28px;
  }

}




